<div align-items-center>

  <div class="container-fluid">
    <div class=" row">
      <div class="card-body card  col-lg-12  ">
        <div class="card-header">
          <div class=" d-flex-2 w-100">
            <div class="">
              <h1 class="card-header-title">User Details</h1>
            </div>
            <div class="">
              <div class="row">
                <div class="col-auto">
                  <button class="btn btn-primary" (click)="goBack()">Back</button>
                </div>
                <div class="col-auto">
                  <button class="btn btn-danger" mat-flat-button *ngIf="userBasic._id"
                    (click)="deleteFn()">Delete</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- Material Table lines Code reduced-->

        <!-- Form -->
        <form class="row g-3" [formGroup]="userBasicForm">

          <div class="col-md-4">
            <mat-form-field class="">
              <mat-label>ID</mat-label>
              <input matInput [formControlName]="'userID'">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="">
              <mat-label>Name</mat-label>
              <input matInput [formControlName]="'name'">
            </mat-form-field>
            <div *ngIf="userBasicForm.get('name')?.hasError('required')" class="invalid-feedback">Field is required
            </div>
          </div>



          <div class="col-md-4">
            <mat-form-field class="">
              <mat-label>Mobile</mat-label>
              <input matInput [formControlName]="'mobile'">
            </mat-form-field>
            <div *ngIf="userBasicForm.get('mobile')?.hasError('required')" class="invalid-feedback">Field is required
            </div>
          </div>

          <div class="col-md-4">
            <mat-form-field class="">
              <mat-label>Email</mat-label>
              <input matInput [formControlName]="'email'">
            </mat-form-field>
            <div *ngIf="userBasicForm.get('email')?.hasError('required')" class="invalid-feedback">Field is required
            </div>
            <div *ngIf="userBasicForm.get('email')?.hasError('email')" class="invalid-feedback">Please enter a valid
              email address !</div>
          </div>

          <div class="col-md-4">
            <mat-form-field class="">
              <mat-label>Gender</mat-label>
              <input matInput [formControlName]="'gender'">
            </mat-form-field>
            <div *ngIf="userBasicForm.get('gender')?.hasError('required')" class="invalid-feedback">Field is required
            </div>
          </div>

          <div class="col-md-4">
            <mat-form-field class="">
              <mat-label>DOB</mat-label>
              <input matInput [matDatepicker]="exitDatePicker" [formControlName]="'dob'">
              <mat-datepicker-toggle matSuffix [for]="exitDatePicker">
              </mat-datepicker-toggle>
              <mat-datepicker #exitDatePicker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="userBasicForm.get('dob')?.hasError('required')" class="invalid-feedback">Field is required
            </div>
          </div>

          <div class="col-md-4">
            <mat-form-field class="">
              <mat-label>Street</mat-label>
              <input
                matInput 
                ngx-google-places-autocomplete 
                [options]="options"
                #placesRef="ngx-places" 
                placeholder="Google Places Search"
                (onAddressChange)="handleAddressChange($event)"
                autocomplete="off" 
                [formControlName]="'street'"
              >              
            </mat-form-field>
            <div *ngIf="userBasicForm.get('street')?.hasError('required')" class="invalid-feedback">Field is required
            </div>
          </div>

          <div class="col-md-4">
            <mat-form-field class="">
              <mat-label>City</mat-label>
              <input matInput [formControlName]="'city'">
            </mat-form-field>
            <div *ngIf="userBasicForm.get('city')?.hasError('required')" class="invalid-feedback">Field is required
            </div>
          </div>
          <div class="col-md-4">
            <mat-form-field class="">
              <mat-label>Postcode</mat-label>
              <input matInput [formControlName]="'postcode'">
            </mat-form-field>
            <div *ngIf="userBasicForm.get('postcode')?.hasError('required')" class="invalid-feedback">Field is required
            </div>
          </div>


          <div class="row g-3">
            <div class="col-md-auto">
              <button (click)="onReactiveFormSubmit('')" class="btn btn-primary">{{userBasic._id ? 'Update' :
                'Submit'}}</button>
            </div>
          </div>

        </form>
        <!-- End Form -->

      </div>
    </div>
  </div>
</div>