<main class="body">
  <div class="container">

    <!-- here login code given -->
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            
            <!-- here takes a card and also it's property -->
            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                </div>
                <!-- now take form for user login -->
                <form class="row g-3 needs-validation" [formGroup]="loginForm">

                  <div class="col-12">
                    <label for="username" class="form-label text-white">Email</label>
                    <div class="input-group has-validation">
                      <!-- here input field for username -->
                     
                      <input type="email" name="email" formControlName="email" class="form-control" id="email" required>
                      <div *ngIf="loginForm.get('email')?.hasError('required')" class="invalid-feedback">email is required</div>
                      <div *ngIf="loginForm.get('email')?.hasError('email')" class="invalid-feedback">Please enter a valid
                        email address !</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <!-- here input field for password  -->
                    <label for="yourPassword" class="form-label text-white">Password</label>
                    <input type="password" name="password" formControlName="password" class="form-control" id="yourPassword" required>
                    <div *ngIf="loginForm.get('password')?.hasError('required')" class="invalid-feedback">Password is required</div>
                  </div>

                  <div class="col-12">
                    <div class="form-check">
                      <!-- Remember me option   -->
                      <input class="form-check-input" formControlName="rememberMe" type="checkbox" name="remember" value="true" id="rememberMe">
                      <label class="form-check-label text-white"  for="rememberMe">Remember me</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <!-- login button  -->
                    <button class="btn btn-primary w-100" (click)="onReactiveFormSubmit()">Login</button>
                  </div>
                 <!-- login button  -->
                 <div class="col-12">
                  <p class="small mb-0">Create New account? <a class="decoration" [routerLink]="['/signup']">Signup</a></p>
                </div>
                </form>

                
              </div>
            </div>

            <div class="credits text-white">
              Designed by <a class="decoration text-white" target="_blank" href="https://myexpertise.io/">MyExpertise</a>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->
