<div class="card-body card gradient-card ">
  <!-- Material Table lines Code reduced-->
  <div class="row align-items-center justify-content-between">
    <div class="col-auto">
      <div class="row align-items-center">
        <div class="col-auto">
          <img src="../../../assets/images/dashboard-img.png" alt="">
        </div>
        <div class="col-auto">
          <h4 class="text-main">
            Want even more features?
          </h4>
          <p class="m-0 text-white">
            Check out our Pro version with 5 unique layouts!
          </p>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <button class="btn-outline-2">
        Upgrade to Pro
      </button>
    </div>
  </div>

</div>
<div class="row">
  <!-- Cards -->


  <div class="col-md-3 ">
    <div class="card info-card sales-card">
      <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li class="dropdown-header text-start">
            <h6>Filter</h6>
          </li>
          <li><a class="dropdown-item" href="#">Today</a></li>
          <li><a class="dropdown-item" href="#">This Month</a></li>
          <li><a class="dropdown-item" href="#">This Year</a></li>
        </ul>
      </div>
      <div class="card-body">
        <div class="row justify-content-between align-items-center ">
          <div class="col-auto">
            <h6 class="d-flex align-items-center"> {{totalUsers}}
              <span style="margin-left: 5px;" class="text-danger pl-1 fs-12 pt-1 fw-bold"> +12%</span>
            </h6>
            <h5 class="">Total Users</h5>
          </div>
          <div class="col-auto">
            <div class="icon-red">
              <i class="bi bi bi-arrow-down-left"></i>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="text-main">Recent Published</div>
  </div>
  <div class="col-md-6">
    <div class="card info-card sales-card mt-3">
      <div class="card-body ">

        <div class="row  align-items-center ">
          <div class="col-12">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto">
                <div class="icon-red">
                  <img class="w-28" src="../../../assets/images/task1.png" alt="">
                </div>
              </div>
              <div class="col-auto">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi text-white bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li><a class="dropdown-item" href="#"> View</a></li>
                    <li><a class="dropdown-item" href="#">Add</a></li>
                    <li><a class="dropdown-item" href="#">Remove</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="col-auto mt-3">
            <h6 class="d-flex mb-3 text-sub  align-items-center">Adobe XD Designer </h6>
            <h5 class="m-0">Fresher/Seniors</h5>
          </div>

        </div>
        <div class="brdr-btm"></div>
        <div class="row justify-content-between align-items-center ">
          <div class="col-auto">
            <h6 class="d-flex mb-1 text-sub-2 text-sub  align-items-center">Applications </h6>
            <h5 class="m-0 fs-10">Fresher/Seniors</h5>
          </div>
          <div class="col-auto">
            <div class="icon-blue">
              internship
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card info-card sales-card mt-3">
      <div class="card-body ">

        <div class="row  align-items-center ">
          <div class="col-12">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto">
                <div class="icon-red">
                  <img class="w-28" src="../../../assets/images/task2.png" alt="">
                </div>
              </div>
              <div class="col-auto">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi text-white bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li><a class="dropdown-item" href="#"> View</a></li>
                    <li><a class="dropdown-item" href="#">Add</a></li>
                    <li><a class="dropdown-item" href="#">Remove</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="col-auto mt-3">
            <h6 class="d-flex mb-3 text-sub  align-items-center">Adobe XD Designer </h6>
            <h5 class="m-0">Fresher/Seniors</h5>
          </div>

        </div>
        <div class="brdr-btm"></div>
        <div class="row justify-content-between align-items-center ">
          <div class="col-auto">
            <h6 class="d-flex mb-1 text-sub-2 text-sub  align-items-center">Applications </h6>
            <h5 class="m-0 fs-10">Fresher/Seniors</h5>
          </div>
          <div class="col-auto">
            <div class="icon-blue">
              internship
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card info-card sales-card ">
      <div class="card-body ">

        <div class="row  align-items-center ">
          <div class="col-12">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto">
                <div class="icon-red">
                  <img class="w-28" src="../../../assets/images/task3.png" alt="">
                </div>
              </div>
              <div class="col-auto">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi text-white bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li><a class="dropdown-item" href="#"> View</a></li>
                    <li><a class="dropdown-item" href="#">Add</a></li>
                    <li><a class="dropdown-item" href="#">Remove</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="col-auto mt-3">
            <h6 class="d-flex mb-3 text-sub  align-items-center">Adobe XD Designer </h6>
            <h5 class="m-0">Fresher/Seniors</h5>
          </div>

        </div>
        <div class="brdr-btm"></div>
        <div class="row justify-content-between align-items-center ">
          <div class="col-auto">
            <h6 class="d-flex mb-1 text-sub-2 text-sub  align-items-center">Applications </h6>
            <h5 class="m-0 fs-10">Fresher/Seniors</h5>
          </div>
          <div class="col-auto">
            <div class="icon-blue">
              internship
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card info-card sales-card ">
      <div class="card-body ">

        <div class="row  align-items-center ">
          <div class="col-12">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto">
                <div class="icon-red">
                  <img class="w-28" src="../../../assets/images/task5.png" alt="">
                </div>
              </div>
              <div class="col-auto">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi text-white bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li><a class="dropdown-item" href="#"> View</a></li>
                    <li><a class="dropdown-item" href="#">Add</a></li>
                    <li><a class="dropdown-item" href="#">Remove</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="col-auto mt-3">
            <h6 class="d-flex mb-3 text-sub  align-items-center">Adobe XD Designer </h6>
            <h5 class="m-0">Fresher/Seniors</h5>
          </div>

        </div>
        <div class="brdr-btm"></div>
        <div class="row justify-content-between align-items-center ">
          <div class="col-auto">
            <h6 class="d-flex mb-1 text-sub-2 text-sub  align-items-center">Applications </h6>
            <h5 class="m-0 fs-10">Fresher/Seniors</h5>
          </div>
          <div class="col-auto">
            <div class="icon-blue">
              internship
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>


</div>