/** ----------------------------------------------------------------
Footer component
*/
@import '../../../../assets/style/color.scss';
@import '../../../../assets/style/fonts.scss';

$footer-Top: 1px solid #cddfff;
$footer-text-color: #012970;

.footer {
  padding: 10px 0;
  font-size: 14px;
  background-color: white;
  position: absolute;
bottom: 0;
width: calc(100% - 300px);
right: 0;
  transition: all 1s;
}

.copyright {
  text-align: center;
  color: $footer-text-color;
}

